*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}
.header {
    display: flex;
    background-color: #141414;
    justify-content: space-between;
    padding : 8px 20px;
    position: fixed;
    width: 100%;
}

.header-left {
    padding: 10px 20px;
    display: flex;
}

.header-left p {
    color: #ffffff;
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;
    flex-direction: row;
}

.header-left a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 20px;
}

nav p:hover {
    color: #9b9b9b;
    transition: 0.1s ease;
}

nav a:hover {
    color: #9b9b9b;
    transition: 0.1s ease;
}

.resources-option {
    position: absolute;
    background-color: #000000;
    display: none;
    height: 120px;
    width: 250px;
    top: 45px;
    left: 20px;
    padding: 10px;
    border-radius: 10px;
}

.resources-contener{
    position: relative;
}

.resources-contener:hover .resources-option {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.resources-contener:hover p i {
    transform: rotate(180deg);
    transition: 0.3s ease;
}

.header-left svg {
    width: 145px;
    height: auto;
    color: #ffffff;
    cursor: pointer;
    padding-left: 20px;
}
.header-right{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    margin-right: 30px;
}

.header-right a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 8px 15px;
    border-radius: 5px;
}

.header-right a:hover {
    background-color: #575757;
    transition: 0.3s ease;
}

.header-right button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.hero-section {
    position: relative;
    height: 600px;
    overflow: hidden;
}
.hero-section img {
    width: 100%;
    position: absolute;
    background-color: #141414;
    z-index: -999;
    top: 150px;
    scale: 2;
}
.content {
    position: relative;
    top: 250px;
    color: #ffffff;
    text-align: center;
}
.content a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    background-color: #121111;
    /* border: 1px solid #252525; */
    padding: 12px 9px;
    border-radius: 50px;
    margin-bottom: 50px;
}
.content a span {
    background-color: #495fda;
    color: #ffffff;
    padding: 6px 8px;
    border-radius: 50px;
    margin-right: 5px;
}

.content h1 {
    font-size: 45px;
    margin-top: 30px;
}

.content p {
    font-size: 20px;
    margin-top: 20px;
    color: #cbc8c8;
}

.content .input {
    background-color: #2d2c2c;
    border-radius: 35px;
    margin-left: 250px;
    margin-top: 30px;
    margin-right: 250px;
    height: 150px;
    /* padding: 60px 50px; */
}

.content .input input {
    position: relative;
    top: 10px;
    left: 20px;
    width: 95%;
    height: 60px;
    background-color: #2d2c2c;
    display: flex;
    border: none;
    font-size: 16px;
}

.options {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 10px;
}
.content .input .left{
    display: flex;
    margin-top: 40px;
    margin-left: 10px;
}

.content .input .right{
    display: flex;
    margin-top: 30px;
    margin-right: 10px;
    gap: 30px;
}

.content .input .right i {
    color: #3b3838;
    background-color: #cec8c8;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

